<div class="categories">
    <div class="container">
        <div class="card-images">
            <div class="row  g-0">
                <div class="card-women col-md-4">
                    <img class="img-fluid" src="../images/Group%2036.jpg" alt="">
                    <p class="card-text">30% OFF<br><span>FOR WOMEN</span></p>
                </div>
                <div class="card-men col-md-4">
                    <img class="img-fluid" src="../images/Group%2037.jpg" alt="">
                    <p class="card-text position-absolute">HOT DEAL<br><span>FOR MEN</span></p>
                </div>
                <div class="card-group col-md-4">
                    <img class="img-fluid" src="../images/Group%2038.jpg" alt="">
                    <p class="card-text">NEW ARRIVALS<br><span>FOR KIDS</span></p>
                </div>

                <div class="card-luxirous col-md-12">
                    <img class="img-fluid" src="../images/Group%2039.jpg" alt="">
                    <p class="card-text">LUXIROUS & TRENDY<br><span>ACCESORIES</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
