<div class="container g-0">
    <div class="gallery row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col">
            <div class="card">
                <img class="card-img-top" alt="" src="../images/card.svg">
                <div class="card-body">
                    <h6 class="card-title">ELLERY X M'O CAPSULE</h6>
                    <p class="card-text">Known for her sculptural takes on traditional tailoring, Australian arbiter of
                        cool Kym Ellery teams
                        up with Moda Operandi.</p>
                    <span>$52.00</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" alt="" src="../images/man2.png">
                <div class="card-body">
                    <h6 class="card-title">ELLERY X M'O CAPSULE</h6>
                    <p class="card-text">Known for her sculptural takes on traditional tailoring, Australian arbiter of
                        cool Kym Ellery teams
                        up with Moda Operandi.</p>
                    <span>$52.00</span>
                </div>
            </div>
        </div>
        <div class="col d-none d-lg-block">
            <div class="card">
                <img class="card-img-top" alt="" src="../images/card3.svg">
                <div class="card-body">
                    <h6 class="card-title">ELLERY X M'O CAPSULE</h6>
                    <p class="card-text">Known for her sculptural takes on traditional tailoring, Australian arbiter of
                        cool Kym Ellery teams
                        up with Moda Operandi.</p>
                    <span>$52.00</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" alt="" src="../images/card4.svg">
                <div class="card-body">
                    <h6 class="card-title">ELLERY X M'O CAPSULE</h6>
                    <p class="card-text">Known for her sculptural takes on traditional tailoring, Australian arbiter of
                        cool Kym Ellery teams
                        up with Moda Operandi.</p>
                    <span>$52.00</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" alt="" src="../images/man5.png">
                <div class="card-body">
                    <h6 class="card-title">ELLERY X M'O CAPSULE</h6>
                    <p class="card-text">Known for her sculptural takes on traditional tailoring, Australian arbiter of
                        cool Kym Ellery teams
                        up with Moda Operandi.</p>
                    <span>$52.00</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" alt="" src="../images/man6.png">
                <div class="card-body">
                    <h6 class="card-title">ELLERY X M'O CAPSULE</h6>
                    <p class="card-text">Known for her sculptural takes on traditional tailoring, Australian arbiter of
                        cool Kym Ellery teams
                        up with Moda Operandi.</p>
                    <span>$52.00</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" alt="" src="../images/man7.png">
                <div class="card-body">
                    <h6 class="card-title">ELLERY X M'O CAPSULE</h6>
                    <p class="card-text">Known for her sculptural takes on traditional tailoring, Australian arbiter of
                        cool Kym Ellery teams
                        up with Moda Operandi.</p>
                    <span>$52.00</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" alt="" src="../images/man8.png">
                <div class="card-body">
                    <h6 class="card-title">ELLERY X M'O CAPSULE</h6>
                    <p class="card-text">Known for her sculptural takes on traditional tailoring, Australian arbiter of
                        cool Kym Ellery teams
                        up with Moda Operandi.</p>
                    <span>$52.00</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" alt="" src="../images/man9.png">
                <div class="card-body">
                    <h6 class="card-title">ELLERY X M'O CAPSULE</h6>
                    <p class="card-text">Known for her sculptural takes on traditional tailoring, Australian arbiter of
                        cool Kym Ellery teams
                        up with Moda Operandi.</p>
                    <span>$52.00</span>
                </div>
            </div>
        </div>
    </div>
    <button>Browse All Product</button>
</div>
