<div class="slider">
    <div class="arrow arrow-left">
        <a href="#"><img src="images/arrow-left.svg"></a>
    </div>
    <ul class="images">
        <li><img src="images/catalog.header.png"></li>
    </ul>
    <div class="arrow arrow-right">
        <a href="#"><img src="images/arrow-right.svg"></a>
    </div>
</div>
<div class="collection">
    <div class="collection__header">WOMEN COLLECTION</div>
    <div class="pink_bloc"></div>
    <div class="collection__title">MOSCHINO CHEAP AND CHIC</div>
    <div class="collection__direct">Compellingly actualize fully researched processes before proactive outsourcing.
        Progressively syndicate
        collaborative architectures before cutting-edge services. Completely visualize parallel core
        competencies
        rather than exceptional portals.
    </div>
    <div class="collection__price">$561</div>
    <div class="grey_bloc"></div>
    <div class="collection__menu">
            <span>CHOOSE COLOR
                <span><img src="images/s.svg" alt=""></span>
            </span>
        <span>CHOOSE SIZE
                <span><img src="images/s.svg" alt=""></span>
            </span>
        <span>QUANTITY
                <span><img src="images/s.svg" alt=""></span>
            </span>
    </div>
    <button class="add_to_cart">
        <img src="images/basret_pink.svg" alt="">Add to Cart
    </button>
</div>
