<section>
    <div class="container">
        <div class="section-item-left">
            <img src="../images/Intersect.png" alt="">
            <p>“Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum“</p>
        </div>
        <div class="section-item-right">
            <h6>SUBSCRIBE</h6>
            <p>FOR OUR NEWLETTER AND PROMOTION</p>
            <form action="" class="form-subscribe" method="post">
                <input type="email" placeholder="Enter Your Email">
                <button>Subscribe</button>
            </form>
        </div>
    </div>
</section>
<footer>
    <div class="footer-menu-left">
        <p>© 2021 Brand All Rights Reserved.</p>
    </div>
    <div class="footer-menu-right">
        <a class="link" href="#"><i class="fab fa-facebook-f"></i></a>
        <a class="link" href="#"><i class="fab fa-instagram"></i></a>
        <a class="link" href="#"><i class="fab fa-pinterest-p"></i></a>
        <a class="link" href="#"><i class="fab fa-twitter"></i></a>
    </div>
</footer>
