<header>
    <div class="container">
        <div class="header-nav">
            <div class="header-nav-right">
                <span><img src="../images/logo.svg" alt="logo"></span>
                <span><a class="search p-3" href=""><img src="../images/search.svg" alt=""></a></span>
            </div>
            <ul class="header-nav-left">
                <li class="header-nav-menu"><img src="../images/menu.svg" alt="menu"></li>
                <li class="header-nav-profile d-none d-md-block"><a href=""><img src="../images/profile.svg"
                                                                                 alt="profile"></a></li>
                <li class="header-nav-cart"><a href=""><img src="../images/basket1.svg" alt="basket"></a></li>
            </ul>
        </div>
    </div>
</header>
