<div class="section">
    <div class="container">
        <div class="section-item">
            <img src="../images/lg1.svg" alt="">
            <h6>Free Delivery</h6>
            <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion
                with extensive
                models.
            </p>
        </div>
        <div class="section-item">
            <img src="../images/lg2.svg" alt="">
            <h6>Sales & discounts</h6>
            <p>Worldwide delivery on all. Authorit tively morph next-generation innov
                tion
                with extensive
                models.</p>
        </div>
        <div class="section-item">
            <img src="../images/lg3.svg" alt="">
            <h6>Quality assurance</h6>
            <p>Worldwide delivery on all. Authorit tively morph next-generation innov
                tion
                with extensive
                models.</p>
        </div>
    </div>
</div>
