<div class="top-index">
    <div class="container">
        <div class="top-info row">
            <div class="top-info-img col-6 d-none d-md-block">
                <img src="../images/index-man.png" alt="">
            </div>
            <div class="top-info-text col-md-6 p-4 p-md-0">
                <div class="info-heading">
                    <div>THE BRAND</div>
                    <div class="info-text">OF LUXERIOUS <span>FASHION</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="top-hover-menu d-none d-xxl-block">
        <div class="hover-menu">
            <p class="header-hover-menu">MENU</p>
            <h3 class="name-hover-menu">MAN</h3>
            <ul class="hover-menu-lists">
                <li>Accessories</li>
                <li>Bags</li>
                <li>Denim</li>
                <li>T-Shirts</li>
            </ul>
            <h3 class="name-hover-menu">WOMAN</h3>
            <ul class="hover-menu-lists">
                <li>Accessories</li>
                <li>Jackets & Coats</li>
                <li>Polos</li>
                <li>T-Shirts</li>
                <li>Shirts</li>
            </ul>
            <h3 class="name-hover-menu">KIDS</h3>
            <ul class="hover-menu-lists">
                <li>Accessories</li>
                <li>Jackets & Coats</li>
                <li>Polos</li>
                <li>T-Shirts</li>
                <li>Shirts</li>
                <li>Bags</li>
            </ul>
        </div>
    </div>
</div>
